[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Renata Costa
	email = renatacostamoreira03@gmail.com
[core]
	autocrlf = false
